@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">RPC :: Red de Programación Competitiva</h1>
</div>

<div>
    <form>
        <p>Sign in</p>
        <hr />
        <p>User Name:</p>
        <input type="text" asp-for="SearchString" />
        <p>Password:</p>
        <input type="text" />
        <br />
        <br />
        
        <input asp-page="Users/Index"  type="submit" value="Sign In"  />
        
        <hr />
        <p>New User</p>
        <input asp-page="Users/Create" type="submit" value="Sign Up" />
    </form>
</div>
