@page
@model RazorPagesUser.Pages.Users.CreateModel

@{ ViewData["Title"] = "Create"; }

<div class="text-center">
    <h1 class="display-4">RPC :: Red de Programación Competitiva</h1>
</div>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.Username" class="control-label"></label>
                <input asp-for="User.Username" class="form-control" />
                <span asp-validation-for="User.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Password" class="control-label"></label>
                <input asp-for="User.Password" class="form-control" id="passw" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input asp-for="ConfPassword" class="form-control" id="conf-passw" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.BirthDate" class="control-label"></label>
                <input asp-for="User.BirthDate" class="form-control" />
                <span asp-validation-for="User.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.FirstName" class="control-label"></label>
                <input asp-for="User.FirstName" class="form-control" />
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.LastName" class="control-label"></label>
                <input asp-for="User.LastName" class="form-control" />
                <span asp-validation-for="User.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" onclick="checkPassword()" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="../Index" class="btn btn-primary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>function checkPassword() {
            let password = document.getElementById("passw").value;
            let cnfrmPassword = document.getElementById("conf-passw").value;
            if (cnfrmPassword.length != 0) {
                if (password != cnfrmPassword)
                    alert("Password don't match!");
            } else
                alert("Password can't be empty!");
        }</script>
}